/* Write your code here. */
.background-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 60px;
}
.image-show-style {
  height: 600px;
  width: 96%;
}
.heading {
  font-family: 'Roboto';
  color: #1e293b;
}
.para {
  font-family: 'Roboto';
  font-size: 24px;
  color: #64748b;
}
.list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  width: 60%;
}
